@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
    font-family: Popping, serif;
    background: linear-gradient(90deg, #00009c 0%, #000000 100%);
    box-shadow: 36px 28px 49px 15px #012301;
}
.nav-link {
    color: aquamarine;}

.navbar-nav .nav-link.active {
    color: rgb(166, 255, 77);
}
.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: rgb(38, 36, 36);
}

.navbar-toggler img {
    width: 31px;
}

.row {
    margin-top: 20px;
}

.sidebar {
    color:aquamarine ;
    background: linear-gradient(270deg, #00009c 0%, #000000 80%);

}

.a {
    color: rgb(134, 175, 93);
}
.b {
    color: rgb(107, 237, 100);
}
.c {
    color: cyan;
}

.card {
    color: rgb(0, 255, 255);
    background: linear-gradient(270deg, #1e1e84 0%, #524300 80%);
}
.card a {
    color: rgb(0, 255, 255);
    text-decoration: none;
}

.carousel-item {
    height: 600px;
}

.carousel-item img{
    mar
}

.slide-text {
    color: rgb(0, 228, 228);
    margin: auto auto;
    padding-right: 270px;
    /* padding: 20px; */
    /* margin-right: 20px; */
}